orchestration/currentbatch.hql
orchestration/completebatch.hql
erpdw/affinity/affinity_general_ledger_header.hql
erpdw/affinity/affinity_general_ledger_line_item.hql
erpdw/ahd/ahd_general_ledger_header.hql
erpdw/ahd/ahd_general_ledger_line_item.hql
erpdw/ahdfuturefirst/ahdfuturefirst_general_ledger_header.hql
erpdw/ahdfuturefirst/ahdfuturefirst_general_ledger_line_item.hql
erpdw/cyberlife0001frs17/cyberlife0001frs17_general_ledger_header.hql
erpdw/cyberlife0001frs17/cyberlife0001frs17_general_ledger_line_item.hql
erpdw/cyberlife1001etbfrs17/cyberlife1001etbfrs17_general_ledger_header.hql
erpdw/cyberlife1001etbfrs17/cyberlife1001etbfrs17_general_ledger_line_item.hql
erpdw/cyberlife7901ifrs17/cyberlife7901ifrs17_general_ledger_header.hql
erpdw/cyberlife7901ifrs17/cyberlife7901ifrs17_general_ledger_line_item.hql
erpdw/ERPDW/erpdw_accounts_payable_vendor_master.hql
erpdw/fsps/fsps_general_ledger_header.hql
erpdw/fsps/fsps_general_ledger_line_item.hql
erpdw/geac/geac_accounts_payable_header.hql
erpdw/geac/geac_accounts_payable_line_item.hql
erpdw/geac/geac_accounts_payable_vendor.hql
erpdw/genesysisfrs17/genesysisfrs17_general_ledger_header.hql
erpdw/genesysisfrs17/genesysisfrs17_general_ledger_line_item.hql
erpdw/horizonlfrs17/horizonlfrs17_general_ledger_header.hql
erpdw/horizonlfrs17/horizonlfrs17_general_ledger_line_item.hql
erpdw/illuminifrs17/illuminifrs17_general_ledger_header.hql
erpdw/illuminifrs17/illuminifrs17_general_ledger_line_item.hql
erpdw/investranet/investranet_general_ledger_header.hql
erpdw/investranet/investranet_general_ledger_line_item.hql
erpdw/lifecommifrs17/lifecommifrs17_general_ledger_header.hql
erpdw/lifecommifrs17/lifecommifrs17_general_ledger_line_item.hql
erpdw/lifepro019ifrs17/lifepro019ifrs17_general_ledger_header.hql
erpdw/lifepro019ifrs17/lifepro019ifrs17_general_ledger_line_item.hql
erpdw/lifepro011ifrs17/lifepro011ifrs17_general_ledger_header.hql
erpdw/lifepro011ifrs17/lifepro011ifrs17_general_ledger_line_item.hql
erpdw/lifepro019/lifepro019_general_ledger_header.hql
erpdw/lifepro019/lifepro019_general_ledger_line_item.hql
erpdw/mantisiifrs17/mantisiifrs17_general_ledger_header.hql
erpdw/mantisiifrs17/mantisiifrs17_general_ledger_line_item.hql
erpdw/mlcsifrs17/mlcsifrs17_general_ledger_header.hql
erpdw/mlcsifrs17/mlcsifrs17_general_ledger_line_item.hql
erpdw/murex/murex_general_ledger_header.hql
erpdw/murex/murex_general_ledger_line_item.hql
erpdw/oracleap/oracleap_accountspayablesettlementcheck.hql
erpdw/oracleap/oracleap_accountspayablesettlementinvoice.hql
erpdw/oracleap/oracleap_accounts_payable_vendor.hql
erpdw/oracleap/oracleap_subledgerjournallinedetail.hql
erpdw/oraclefah/oraclefah_subledgerjournallinedetail.hql
erpdw/oraclefah/oraclefah_subledger_journal_detail.hql
erpdw/oraclefh/oraclefh_subledgerjournallinedetail.hql
erpdw/oraclegl/oraclegl_generalledgerjournaldetail.hql
erpdw/oraclegl/oraclegl_generalledgertrialbalance.hql
erpdw/oraclegl/oraclegl_journal_detail.hql
erpdw/oraclegl/oraclegl_trial_balance_detail.hql
erpdw/p3dss/psdss_general_ledger_header.hql
erpdw/p3dss/p3dss_general_ledger_line_item.hql
erpdw/p5dss/p5dss_general_ledger_header.hql
erpdw/p5dss/p5dss_general_ledger_line_item.hql
erpdw/p7dss/p7dss_general_ledger_header.hql
erpdw/p7dss/p7dss_general_ledger_line_item.hql
erpdw/processoronexton/processoronexton_general_ledger_header.hql
erpdw/processoronexton/processoronexton_general_ledger_line_item.hql
erpdw/processoroneplan/processoroneplan_general_ledger_header.hql
erpdw/processoroneplan/processoroneplan_general_ledger_line_item.hql
erpdw/revport/revport_general_ledger_header.hql
erpdw/revport/revport_general_ledger_line_item.hql
erpdw/sailpoint/sailpoint_oracleworkercountry.hql
erpdw/sailpoint/sailpoint_oracleworkerdetails.hql
erpdw/tataisia/tataisia_general_ledger_header.hql
erpdw/tataisia/tataisia_general_ledger_line_item.hql
erpdw/tlp/tlp_accountspayablesettlementcheck.hql
erpdw/tpclaims/tpclaims_general_ledger_header.hql
erpdw/tpclaims/tpclaims_general_ledger_line_item.hql
erpdw/tpadifrs17/tpadifrs17_general_ledger_header.hql
erpdw/tpadifrs17/tpadifrs17_general_ledger_line_item.hql
erpdw/tpapifrs17/tpapifrs17_general_ledger_header.hql
erpdw/tpapifrs17/tpapifrs17_general_ledger_line_item.hql
erpdw/upcs/upcs_accountspayablesettlementcheck.hql
erpdw/yardi/yardi_general_ledger_header.hql
erpdw/yardi/yardi_general_ledger_line_item.hql
views/erpdw/general_ledger_header.hql
views/erpdw/general_ledger_line_item.hql