erpdw/yardi/yardi_general_ledger_header.hql
erpdw/yardi/yardi_general_ledger_line_item.hql
erpdw/murex/murex_general_ledger_header.hql
erpdw/murex/murex_general_ledger_line_item.hql
erpdw/revport/revport_general_ledger_header.hql
erpdw/revport/revport_general_ledger_line_item.hql
erpdw/illuminifrs17/illuminifrs17_general_ledger_header.hql
erpdw/illuminifrs17/illuminifrs17_general_ledger_line_item.hql
erpdw/clearwater/clearwater_general_ledger_header.hql
erpdw/clearwater/clearwater_general_ledger_line_item.hql
erpdw/mkdb/mkdb_currency_rates.hql
erpdw/investranet/investranet_general_ledger_header.hql
erpdw/investranet/investranet_general_ledger_line_item.hql
erpdw/arr/arr_contractplancodedetails.hql
erpdw/arr/arr_contracttoresinsurancecattretycopidassignment.hql
erpdw/arr/arr_general_ledger_header.hql
erpdw/arr/arr_general_ledger_header_contractnumberlevelreserves.hql
erpdw/arr/arr_general_ledger_line_item.hql
erpdw/arr/arr_general_ledger_line_item_contractnumberlevelreserves.hql
erpdw/ahd/ahd_contractplancodedetails.hql
erpdw/ahd/ahd_contracttoresinsurancecattretycopidassignment.hql
erpdw/performanceplus/performanceplus_general_ledger_header.hql
erpdw/performanceplus/performanceplus_general_ledger_line_item.hql
erpdw/jewirebot/jewirebot_general_ledger_header.hql
erpdw/jewirebot/jewirebot_general_ledger_line_item.hql
erpdw/icosexaminerceded/icosexaminerceded_general_ledger_header.hql
erpdw/icosexaminerceded/icosexaminerceded_general_ledger_line_item.hql
erpdw/icosexaminerdoddir/icosexaminerdoddir_general_ledger_header.hql
erpdw/icosexaminerdoddir/icosexaminerdoddir_general_ledger_line_item.hql
erpdw/findw/bestow_general_ledger_header.hql
erpdw/findw/bestow_general_ledger_line_item.hql
erpdw/findw/ltcg_general_ledger_header.hql
erpdw/findw/ltcg_general_ledger_line_item.hql
erpdw/findw/ltcghybrid_general_ledger_header.hql
erpdw/findw/ltcghybrid_general_ledger_line_item.hql
erpdw/findw/vantagep5_general_ledger_header.hql
erpdw/findw/vantagep5_general_ledger_line_item.hql
erpdw/findw/vantagep6_general_ledger_header.hql
erpdw/findw/vantagep6_general_ledger_line_item.hql
erpdw/findw/vantagep65_general_ledger_header.hql
erpdw/findw/vantagep65_general_ledger_line_item.hql
erpdw/findw/vantagep75_general_ledger_header.hql
erpdw/findw/vantagep75_general_ledger_line_item.hql
erpdw/ltcg/lookup_geacap_outstanding_checks.hql